# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore virtual environment folders
venv/
ENV/
env/

# Ignore IDE/editor configs
*.vscode/
*.idea/
*.swp
*.swo

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log
